<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <title>~handwavy~</title>
    
    <script type="module" src="https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@latest/vision_bundle.js" crossorigin="anonymous"></script>
    <script defer src="./assets/js/face-api.min.js"></script>
  
    <script type="module" defer src="./handwave.js"></script>
    
    <link rel="stylesheet" href="./assets/css/style.css" />
    
    <script>
      navigator.mediaDevices
        .getUserMedia({ video: true, audio: true })
        .then((localMediaStream) => {
          const video = document.querySelector("video");
          video.srcObject = localMediaStream;
        })
        .catch((error) => {
          console.log("Rejected!", error);
        });
    </script>
  </head>
  
  <body>
    <div class="main-container">

      <div class="video-container">
        <video id="video" autoplay playsinline></video>
      </div>

      <h2 id="gesture" style="color: #ff0088;" width="100%"> 
        begin speaking whenever you're ready <br> 
        handwave 🫴 to automatically continue the thought 
      </h2>
      
      <div class="transcription-status">
        <div id="status-indicator" class="status-indicator"></div>
        <span id="transcription-status-text"></span>
      </div>

      <div id="transcription" style="font-family: Courier New; font-weight: bold; margin: 20px 0px 20px 0px; padding: 10px; border: 1px solid #ccc; min-height: 30px;"></div>
      
      <div id="continuation" style="font-family: Courier New; margin: 20px 0px 20px 0px; padding: 10px; border: 1px solid #ccc; min-height: 30px;"></div>

    </div>
  </body>
</html>